section.heroSection{
    font-family: 'Sarabun','Helvetica';
    font-weight: 700;
    height:25em;
    display:flex;
    background: rgb(1,17,64);
    background: linear-gradient(112deg, rgba(1, 17, 64, 1) 50%, rgba(154, 23, 209, 0)85%);
    align-items: center;
}

.heroSection h1 {
    margin:0px 1em;
    margin-bottom: 20px;
    margin-right:-10em;
    color: rgb(255,255,255);
    font-size: 48px;
}

.heroSection img{
    position: relative;
    height: 25em;
    z-index: -1;
    margin-left: auto;
}

.firstInfoSection{
    background-color: #FFFAF4;
    padding-left:3em;
}

.firstInfoSection h2{
    font-family: 'Noto Sans', 'Helvetica';
    font-size: 28px;
    margin:0;
    padding-top:2em;
    color:#152657;
}

.firstInfoSection p{
    font-family: 'Sarabun', 'Helvetica';
    font-weight:bold;
    color:#141414;
}

.secondInfoSection{
    background-color: #ffffff;
    box-shadow: -1px 6px 14px -1px rgba(0,0,0,0.55);
    padding-left:3em;
}

.secondInfoSection h2{
    font-family: 'Noto Sans', 'Helvetica';
    font-size: 28px;
    margin:0;
    padding-top:2em;
    color:#152657;
}

.secondInfoSection p{
    font-family: 'Sarabun', 'Helvetica';
    font-weight:bold;
    color:#141414;
}
