section.heroSection{
    font-family: 'Sarabun','Helvetica';
    font-weight: 700;
    height:25em;
    display:flex;
    background: rgb(1,17,64);
    background: linear-gradient(112deg, rgba(1, 17, 64, 1) 50%, rgba(154, 23, 209, 0)85%);
    align-items: center;
}

.heroSection h1 {
    margin:0px 1em;
    margin-bottom: 20px;
    margin-right:-10em;
    color: rgb(255,255,255);
    font-size: 48px;
}

.heroSection img{
    position: relative;
    height: 25em;
    z-index: -1;
    margin-left: auto;
}

.firstInfoSection{
    display:flex;
    background-color: #FFFAF4;
    padding-left:14%;
    padding-top:1em;
    padding-bottom:1em;
}

.firstInfoSection article{
    align-self:center;
    width:40%;
}

.firstInfoSection h2{
    font-family: 'Noto Sans', 'Helvetica';
    font-size: 28px;
    margin:0;
    color:#152657;
}

.firstInfoSection p{
    font-family: 'Sarabun', 'Helvetica';
    font-weight:bold;
    color:#141414;
}

.firstInfoSection img{
    height: 20em;
    align-self:center;
    margin-left:auto;
    margin-right:auto;
}

#companyGrid{
    display:grid;
    margin: 3em 0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4em;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
}

#companyGrid img{
    padding:1em;
    height:5.5em;
    width:5.5em;
    object-fit: contain;
}

#highFive{
    margin-bottom:20px;
}

.secondInfoSection{
    position: relative;
    display:flex;
    justify-content: flex-end;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.314);
    padding-right:12%;
}

.secondInfoSection article{
    margin-left:0;
    width: 50%;
}

.secondInfoSection h2{
    font-family: 'Noto Sans', 'Helvetica';
    font-size: 28px;
    margin:0;
    padding-top:2em;
    color:#152657;
}

.secondInfoSection p{
    font-family: 'Sarabun', 'Helvetica';
    font-weight:bold;
    color:#141414;
}

.secondInfoSection img{
    padding:2em;
    height:13em;
    margin-right: 4em;;
}

.endBanner{
    background: rgb(21,38,87);
    background: linear-gradient(49deg, rgba(21,38,87,1) 0%, rgba(133,111,152,1) 100%);
    display:flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.endBanner h2{
    font-family: 'Noto Sans', 'Helvetica';
    font-size: 28px;
    margin:0;
    margin-left:14%;
    padding-top:2em;
    color:#ffffff;
}

.endBanner img{
    margin-top:2em;
    width:80%;
    align-self: center;
}

.endBanner p{
    font-family: 'Sarabun', 'Helvetica';
    font-weight:bold;
    color:#BDC6E1;
}

footer{
    font-family: 'Noto Sans', 'Helvetica';
    font-size:12px;
    color:#909090;
    background-color: #141414;
    padding:5px;
}

footer p{
    margin:0;
}

footer a{
    color:#4e6dbc
}
